/* wah v2.0a by tangerlemon */

:root {
    /* images */
    --background-image: url('https://tangerlemon.github.io/wah/images/wahTall.png');
    --home-icon: url('https://tangerlemon.github.io/wah/images/takodachi_bounce.gif');

    /* home icon */
    --home-icon-fill: none;
    --home-icon-width: 35px;
    --home-icon-height: 35px;
    --home-icon-vertical-position: -5px;
    --home-icon-horizontal-position: -2px;


    --chat-background: #00000070;
    --members-background: #00000090;
    --search-bar-background: #00000070;


    /* server list */
    --servers-background: #00000090;
    --server-folder-expanded-background: #50406040;
    --server-folder-expanded-icon: transparent;
    --server-folder-expanded-icon-hover: transparent;
    --server-folder-collapsed-background: transparent;
    --server-folder-collapsed-background-hover: transparent;

    --top-bar-background: #00000040;
    --info-panel-background: #00000000;


    /* channels */
    --channels-background: #00000090;
    --channel-color: #888;
    --channel-selected-color: #fff;
    --channel-unread-color: #d8d8d8;
    --channel-hover-color: #f0f;
    --hover-color-fade: 0.2s;

    --category-color: #6f4f7f;
    --category-hover-color: #9f7faf;

    --new-unread-bar: #50406070;
    --new-unread-bar-text: #e0e0e0;
    --new-unread-bar-hover: #fff;

    --channels-width: 236px;
    --channels-position-top: -5px;
    --channels-position-right: 0px;
    --channels-position-bottom: 0px;
    --channels-position-left: 0px;
    --category-align: center;


    /* titlebar */
    --titlebar-background: #00000090;
    
    --titlebar-discord-position-vertical: 0px;
    --titlebar-discord-position-horizontal: 0px;

    --min-maximize-button-color: #aaa;
    --close-button-color: #900;
    --windows-buttons-position-vertical: 1px;
    --windows-buttons-position-horizontal: 0px;
}




.homeIcon-r0w4ny {
    background: var(--home-icon) center;
    background-size: contain;
    background-repeat: no-repeat;
    width: var(--home-icon-width);
    height: var(--home-icon-height);
    margin-top: var(--home-icon-vertical-position);
    margin-left: var(--home-icon-horizontal-position);
}
.homeIcon-r0w4ny > path {
    fill: var(--home-icon-fill);
}




.userPopout-2j1gM4 {
    background-color: var();
}










/* background */
.bg-1QIAus {
    background: var(--background-image) center;
    background-size: contain;
    background-repeat: no-repeat;
}


/* messages */


/* server list */
.scroller-3X7KbA {
    background: var(--servers-background);
}
.wrapper-1_HaEi {
    background-color: transparent;
}
.expandedFolderBackground-1kSAf6 {
    background-color: var(--server-folder-expanded-background);
}
.folder-241Joy {
    background-color: var(--server-folder-expanded-icon);
}
.folder-241Joy.hover-3m7-WT {
    background-color: var(--server-folder-expanded-icon-hover);
}
.expandedFolderBackground-1kSAf6.collapsed-uGXEbi {
    background-color: var(--server-folder-collapsed-background);
}
.expandedFolderBackground-1kSAf6.collapsed-uGXEbi.hover-3m7-WT {
    background-color: var(--server-folder-collapsed-background-hover);
}


/* channel list */
.sidebar-1tnWFu {
    width: var(--channels-width);
    background: var(--channels-background);
}
.container-1NXEtd {
    background: transparent;
}
.content-1x5b-n {
    margin-top: var(--channels-position-top);
    margin-right: var(--channels-position-right);
    margin-bottom: var(--channels-position-bottom);
    margin-left: var(--channels-position-left);
}

/* categories */
.name-3l27Hl {
    align-items: var(--category-align);
    justify-content: var(--category-align);
    color: var(--category-color);
    text-align: var(--category-align);
    transition: all var(--hover-color-fade) ease-in-out;
    opacity: 1;
}
.mainContent-2h-GEV:hover .name-3l27Hl {
  color: var(--category-hover-color);
}

/* channel states, fuck you discord */
.modeConnected-3IsKId .name-23GUGE,
.modeSelected-346R90 .name-23GUGE {
    color: var(--channel-selected-color);
}
.modeUnread-1qO3K1 .name-23GUGE,
.notInteractive-1X92pj.modeConnected-3IsKId .name-23GUGE,
.notInteractive-1X92pj.modeSelected-346R90 .name-23GUGE {
    color: var(--channel-unread-color);
}
.modeConnected-3IsKId:hover .name-23GUGE,
.modeSelected-346R90:hover .name-23GUGE,
.modeUnread-1qO3K1:hover .name-23GUGE {
    transition: all 0.2s ease-in-out;
    color: var(--channel-hover-color);
}
.name-23GUGE {
    color: var(--channel-color);
}

/* new unreads bar */
.unread-2wipsx {
    background-color: var(--new-unread-bar);
}
.bar-2eAyLE {
    color: var(--new-unread-bar-text);
}
.bar-2eAyLE:hover {
    color: var(--new-unread-bar-hover);
}


/* lil info panel with your name status etc */
.panels-3wFtMD {
    background: var(--info-panel-background);
}


/* main chat window */
.chat-2ZfjoI {
    background: var(--chat-background);
}


/* member list */
.membersWrap-2h-GB4 {
    min-width: 240px;
}
.container-2wlB3z {
    background: var(--members-background);
}
.members-1998pB, .members-1998pB>div {
    background-color: transparent;
}


/* top bar */
.container-ZMc96U.themed-Hp1KC_ {
    background: var(--top-bar-background);
}
.searchBar-zdmu7v {
    background-color: var(--search-bar-background);
}


/* loading screen when opening uncached server/channel */
.wrapper-3vR61M, .wrapper-1F5TKx {
    background-color: transparent;
}


/* random gradients in dark theme */
.theme-dark .form-3gdLxP:before {
    background: transparent;
}
.theme-dark .children-3xh0VB:after {
    background: transparent;
}


/* titlebar */
.titleBar-1it3bQ, .typeWindows-2-g3UY
{
    background-color: var(--titlebar-background);
    margin-top: 0px;
}
.wordmarkWindows-2dq6rw {
    top: var(--titlebar-discord-position-vertical);
    left: var(--titlebar-discord-position-horizontal);
}
.winButton-3UMjdg {
    top: var(--windows-buttons-position-vertical);
    left: var(--windows-buttons-position-horizontal);
}
.winButtonMinMax-3RsPUg {
    color: var(--min-maximize-button-color);
}
.winButtonClose-3Q8ZH5 {
    color: var(--close-button-color);
}
