/**
* @name Wah
* @version 2.0.0a
* @description the comfiest discord theme
* @author Tangerlemon
* @source https://github.com/Tangerlemon/wah
**/

/*  */

:root {
    /* images */
    --background-image: url('https://tangerlemon.github.io/wah/images/wahTall.png');
    --home-icon: url('https://tangerlemon.github.io/wah/images/takodachi_bounce.gif');


    /* variables to make things easier for myself */
    --color-1: #000000a0;
    --color-2: #000000c8;
    --color-3: #00000070;
    --color-4: #40308040;


    /* home icon */
    --home-icon-default-fill: none;
    --home-icon-background-color: #50408060;    /* also for servers  */
    --home-icon-hover-color: #50408060;        /*   with no icon   */
    --home-icon-width: 35px;
    --home-icon-height: 35px;
    --home-icon-vertical-position: -5px;
    --home-icon-horizontal-position: -2px;
    --home-icon-hover-fade-in: 0.2s;
    --home-icon-hover-fade-out: 0.2s;


    /* main chat window */
    --chat-background: var(--color-1);
    --chat-text-box-background: var(--color-3);

    --chat-scrollbar-width: 15px;
    --chat-scrollbar-color: var(--color-3);
    --chat-scrollbar-thumb-color: #60406060;
    --chat-scrollbar-thumb-hover-color: #302030a0;


    --search-bar-background: var(--color-3);
    --top-bar-background: var(--color-2);
    --info-panel-background: transparent;


    /* server list */
    --servers-background: var(--color-2);
    --server-folder-background: transparent;

    --server-folder-expanded-background: var(--color-4);
    --server-folder-expanded-icon-background: #141125;
    --server-folder-expanded-icon-hover: #141125;

    --server-folder-collapsed-background: var(--color-4);
    --server-folder-collapsed-background-hover: transparent;
    --server-hover-fade-in: 0.2s;
    --server-hover-fade-out: 0.2s;

    --server-add-browse-background: var(--color-4);
    --server-add-browse-icon-color: #807090;

    --server-popout-background: #000000f0;
    --server-dot: #807090;


    /* channels */
    --channels-background: var(--color-2);
    --channel-color: #888;
    --channel-selected-color: #fff;
    --channel-unread-color: #d8d8d8;
    --channel-hover-color: #f0f;

    --category-color: #6f4f7f;
    --category-hover-color: #9f7faf;

    --new-unread-bar: #403050a0;
    --new-unread-text: #e0e0e0;
    --new-unread-hover: #fff;
    --new-unread-hover-fade-in: 0.2s;
    --new-unread-hover-fade-out: 0.2s;

    --channels-width: 236px;
    --channels-spacing-top: -5px;
    --channels-spacing-right: 0px;
    --channels-spacing-bottom: 0px;
    --channels-spacing-left: 0px;
    --category-align: center;

    --friends-list-search-background: var(--color-3);
    --friends-list-search-small-background: var(--color-3);


    /* member list */
    --members-background: var(--color-2);


    /* titlebar */
    --titlebar-background: var(--color-2);
    
    --titlebar-discord-position-vertical: -3px;
    --titlebar-discord-position-horizontal: 0px;

    --min-maximize-button-color: #aaa;
    --close-button-color: #900;
    --windows-buttons-position-vertical: -2px;
    --windows-buttons-position-horizontal: 3px;


    /* misc */
    --role-background: #222222a0;

    --right-click-background: #000000f0;

    --user-popout-background: #000000f0;
    --user-popout-message-background: #30303030;

    --quickswitcher-background: #000000a0;
    --quickswitcher-list-background: transparent;
    --quickswitcher-textbox-background: transparent;

    --highlight-color: #40206080;
    --highlight-text-color: #ecf;


    /* messages */
    --code-block-background: #141414ba;
    --embed-color: #141414ba;
    --link-color: #7068a0;

    --timestamp-color: #777;
    --edited-color: #777;

    --date-seperator-color: var(--color-3);
}





























/* background */
.bg-1QIAus {
    background: var(--background-image) center;
    background-size: contain;
    background-repeat: no-repeat;
}


/* messages */
.content-3spvdd {
    background-color: var(--date-seperator-color);
}
.markup-eYLPri code {
    background-color: var(--code-block-background);
}
.compact-2Nkcau .timestamp-p1Df1m,
.cozy-VmLDNB .timestamp-p1Df1m,
.cozy-VmLDNB .timestamp-p1Df1m.alt-1dvXnH {
    color: var(--timestamp-color);
}
.edited-1v5nT8 {
    color: var(--edited-color);
}
.embedFull-1HGV2S {
    background-color: var(--embed-color);
}
.markup-eYLPri a {
    color: var(--link-color);
}


/* server list */
.scroller-3X7KbA {
    background: var(--servers-background);
}
.wrapper-1_HaEi {
    background-color: transparent;
}
.folder-241Joy {
    background-color: transparent;
}
.folder-241Joy.hover-3m7-WT {
    background-color: transparent;
}
.expandedFolderBackground-1kSAf6 {
    background-color: var(--server-folder-expanded-background);
}
.folderIconWrapper-1oRIZr {
    background-color: var(--server-folder-expanded-icon-background);
}
.folderIconWrapper-1oRIZr:hover {
    background-color: var(--server-folder-expanded-icon-hover);
}
.closedFolderIconWrapper-3tRb2d {
    transition: all var(--server-hover-fade-out) ease-in-out;
    background-color: var(--server-folder-collapsed-background);
}
.closedFolderIconWrapper-3tRb2d:hover {
    transition: all var(--server-hover-fade-in) ease-in-out;
    background-color: var(--server-folder-collapsed-background-hover);
}
.item-2LIpTv {
    background-color: var(--server-dot);
}
.circleIconButton-1VxDrg {
    background-color: var(--server-add-browse-background);
    color: var(--server-add-browse-icon-color);
}


/* channel list */
.sidebar-1tnWFu {
    width: var(--channels-width);
    background: var(--channels-background);
}
.container-1NXEtd {
    background: transparent;
}
.privateChannels-oVe7HL {
    background-color: transparent;
}
.content-1x5b-n {
    margin-top: var(--channels-spacing-top);
    margin-right: var(--channels-spacing-right);
    margin-bottom: var(--channels-spacing-bottom);
    margin-left: var(--channels-spacing-left);
}
.scroller-WSmht3, .searchBar-3TnChZ {
    background-color: transparent;
}


/* categories */
.name-3l27Hl {
    align-items: var(--category-align);
    justify-content: var(--category-align);
    color: var(--category-color);
    text-align: var(--category-align);
    transition: all var(--hover-color-fade) ease-in-out;
    opacity: 1;
}
.mainContent-2h-GEV:hover .name-3l27Hl {
  color: var(--category-hover-color);
}

/* channel states, fuck you discord */


/* new unreads bar */
.unread-2wipsx {
    background-color: var(--new-unread-bar);
}
.bar-2eAyLE {
    transition: all var(--new-unread-hover-fade-out) ease-in-out;
    color: var(--new-unread-text);
}
.bar-2eAyLE:hover {
    transition: all var(--new-unread-hover-fade-in) ease-in-out;
    color: var(--new-unread-hover);
}


/* lil info panel with your name status etc */
.panels-3wFtMD {
    background: var(--info-panel-background);
}


/* main chat window */
.chat-2ZfjoI {
    background: transparent;
}
.scrollableContainer-15eg7h {
    background-color: var(--chat-text-box-background);
}
.channelTextArea-1FufC0 {
    background-color: transparent;
}
.chatContent-3KubbW,
.theme-dark .container-2cd8Mz,
.theme-light .container-2cd8Mz {
    background: var(--chat-background);
}
.scroller-kQBbkU::-webkit-scrollbar {
    width: var(--chat-scrollbar-width);
}
.scroller-kQBbkU::-webkit-scrollbar-track {
    background-color: var(--chat-scrollbar-color);
}
.scroller-kQBbkU::-webkit-scrollbar-thumb {
    background-color: var(--chat-scrollbar-thumb-color);
}
.scroller-kQBbkU::-webkit-scrollbar-thumb:hover {
    background-color: var(--chat-scrollbar-thumb-hover-color);
}


/* member list */
.membersWrap-3NUR2t {
    min-width: 0px;
}
.container-2o3qEW {
    background: var(--members-background);
}
.members-3WRCEx, .members-3WRCEx>div {
    background-color: transparent;
}


/* top bar */
.container-ZMc96U.themed-Hp1KC_ {
    background: var(--top-bar-background);
}
.searchBar-zdmu7v {
    background-color: var(--search-bar-background);
}


/* loading screen when opening uncached server/channel */
.wrapper-3HVHpV, .wrapper-15CKyy {
    background-color: transparent;
}


/* random gradients in dark theme */
.theme-dark .form-3gdLxP:before,
.theme-light .form-3gdLxP:before,
.theme-dark .children-3xh0VB:after,
.theme-light .children-3xh0VB:after {
    background: transparent;
}


/* titlebar */
.titleBar-1it3bQ, .typeWindows-2-g3UY
{
    background-color: var(--titlebar-background);
    margin-top: 0px;
}
.wordmarkWindows-2dq6rw {
    top: var(--titlebar-discord-position-vertical);
    left: var(--titlebar-discord-position-horizontal);
}
.winButton-3UMjdg {
    top: var(--windows-buttons-position-vertical);
    left: var(--windows-buttons-position-horizontal);
}
.winButtonMinMax-3RsPUg {
    color: var(--min-maximize-button-color);
}
.winButtonClose-3Q8ZH5 {
    color: var(--close-button-color);
}


/* home icon */
.homeIcon-r0w4ny {
    background: var(--home-icon) center;
    background-size: contain;
    background-repeat: no-repeat;
    width: var(--home-icon-width);
    height: var(--home-icon-height);
    margin-top: var(--home-icon-vertical-position);
    margin-left: var(--home-icon-horizontal-position);
}
.homeIcon-r0w4ny > path {
    fill: var(--home-icon-default-fill);
}
.childWrapper-1j_1ub {
    background-color: var(--home-icon-background-color);
}
.wrapper-3kah-n .selected-1Drb7Z {
    background-color: violet;
}
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: var(--home-icon-hover-color);
}

/* user popout */
.userPopout-2j1gM4 {
    background-color: var(--user-popout-background);
}
.input-2z42oC {
    background-color: var(--user-popout-message-background);
}
.footer-3naVBw, .bodyInnerWrapper-2bQs1k {
    background-color: transparent;
}


/* context menu */
.menu-1QACrS {
    background-color: var(--right-click-background);
}


/* quickswitcher */
.quickswitcher-pKcM9U {
    background-color: var(--quickswitcher-background);
}
.scroller-2qwVWY {
    background-color: var(--quickswitcher-list-background);
}
.input-3r5zZY {
    background-color: var(--quickswitcher-textbox-background);
}


/* server popout */
.theme-dark .tooltipPrimary-3qLMbS,
.theme-dark .tooltipPrimary-3qLMbS {
    background-color: var(--server-popout-background);
}


/* search bars on front page (friends list) */
.container-2oNtJn {
    background-color: var(--friends-list-search-background);
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background-color: var(--friends-list-search-small-background);
}


/* selected text */
::selection {
    color: var(--highlight-text-color);
    background-color: var(--highlight-color);
}
::-moz-selection {
    color: var(--highlight-text-color);
    background-color: var(--highlight-color);
}


/* role background */
.role-2TIOKu,
.role-23oyrw {
    background-color: var(--role-background);
}

/*
@import url("https://tangerlemon.github.io/wah/css/wah916.css");
                           
,——.   ,——.  ,———.  ,——.  ,——. 
|  |   |  | /  O  \ |  '——'  | 
|  |.'.|  ||  .–.  ||  .——.  | 
|   ,'.   ||  | |  ||  |  |  | 
'——'   '——'`——' `——'`——'  `——' 
                 

*/