/**
* @name Wah
* @version 1.0
* @description the comfiest discord theme
* @author Tangerlemon
*/

@import url("https://tangerlemon.github.io/wah/css/wah916.css");


/*
                               
,——.   ,——.  ,———.  ,——.  ,——. 
|  |   |  | /  O  \ |  '——'  | 
|  |.'.|  ||  .–.  ||  .——.  | 
|   ,'.   ||  | |  ||  |  |  | 
'——'   '——'`——' `——'`——'  `——' 
                               
*/